PLATE_MODEL_PATH=F:/quyen/nhan_dien_bien_so_xe/runs/detect/train_bien_so_100epoch/weights/best.pt
PADDLEOCR_USE_GPU=false
PADDLEOCR_USE_TEXTLINE_ORIENTATION=false
PADDLEOCR_LANGUAGES=vi
PADDLEOCR_VERSION=PP-OCRv3
OCR_PREPROCESS_MODE=fast
DETECTION_INTERVAL=15
MAX_INFERENCE_EDGE=1280
INFERENCE_IMGSZ=640
