PORT=3000
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/license_plate_db?schema=public"
PYTHON_EXECUTABLE=python
AI_SCRIPT_PATH=../recognize_image.py
AI_WORKER_SCRIPT_PATH=../ai_worker.py
AI_USE_WORKER=true
AI_WORKER_TIMEOUT_MS=120000
UPLOAD_DIR=uploads/original
ANNOTATED_DIR=uploads/annotated
CORS_ORIGIN=http://localhost:5173
